
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Main body */
body{
    background-color: rgba(245, 214, 214, 0.767);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: large;
}

/* Employee payroll div */
.header-content{
    background-color: #fff;
    padding-top: .7em;
    padding-bottom: .7em;
}
.logo-content{
    display: flex;
    margin: 0 10em;

}
div{
    align-items: center;
}
div>span{
    color: rgb(64, 240, 64);
}

/* payroll-form div */
.payroll-form{
    width: 100%;
    height: 544px;
    display: flexbox;
    flex-direction: column;
}
.item{
    background-color: rgb(244, 245, 243);
    width: 80vw;
    height: auto;
    margin: 3em 7em;
    padding: 2em 2em 2em 7em;
    text-align: left;
}


/* Form information styling */

.info{
    margin-top: 2.2em;
}
.label-text{
    font-weight: lighter;
    font-size: medium;
}
#name{
    margin-left: 3.2em;
    width: 44vw;
    height: 5.8vh;
    border-radius: 5px;
}

/* Profile images styling */

.profile-radio-content{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
}
.profile-radio-content>label{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 0 5px; */
}
.profile{
    width: 40px;
    border-radius: 50%;
    margin-left: 22px;
}

/* Gender images styling */
.gender-content{
    margin-top: 2.5em;
}

.gender{
    width: 52px;
    border-radius: 50%;
    margin-left: 22px;
    align-items: center;
    margin-top: 1em;
    
}
#gender1{
    margin-left: 6em;
}
#gender2{
    margin-left: 88px;
}
#img1{
    margin: -12px 8px;
    height: 43px;
}
#img2{
    margin: -13px 8px;
}

/* Department styling */
.department-content{
    display: flex;
    margin-top: 3em;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Roboto'; */
    font-weight: lighter;
}
.depart{
    padding: 0 3.2rem;
}
.text{
    padding-right: 16px;
}

/* Salary content styling */

.salary-content{
    display: flex;
    margin-top: 3em;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Roboto'; */
    font-weight: lighter;
}
#salary{
    margin-left: 20px;
}
.salary-output{
    padding-left: 24px;
}

/* Start Date styling */
.date-content{
    display: flex;
    margin-top: 3em;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Roboto'; */
    font-weight: lighter;
}
#day, #month, #year{
    padding: 3px;
    border-radius: 9px;
    margin: 0 57px;
}